inst/doc
.Rproj.user
.Rhistory
.RData
disk.frame.sublime-project
disk.frame.sublime-workspace
*.Rproj
tmpfst2/
tmpfst/
*.dll
*.o
tmphardgroupby/
tmphardgroupby2/
large_sorted/
*.fst
derby\.log
*.log
logs/
NA
fm_perf/
*.csv
*.xlsx
fmdf0
Rplot\.png
fmdf0/
*.png
!disk.frame.png
*.ws
*.ws.RData
tmp_*/
*.xgbm
model.rds
scorecard.rds
first_harp_date.df
.ipynb_checkpoints
a.df
tmp81
tmp82
tmpdata/
flights_all_notsharded\.df/\.metadata/meta\.json
*.json
doc
Meta
rsconnect
src-i386
src-x64
*.parquet
*.zip
*.ok
cran-mirror
misc/disk.frame-report_files/
.httr-oauth
README_cache
vignettes/
README.html

book/_book/

book/_bookdown_files/
