.Rproj.user
.Rhistory
.RData
disk.frame.sublime-project
disk.frame.sublime-workspace

*.Rproj

tmpfst2/

tmpfst/

*.dll

*.o

tmphardgroupby/

tmphardgroupby2/

man/
*.fst
fmdf0/

*.csv

derby\.log

*.png
